<!DOCTYPE html>
<html>
<body onload="subscribe()">
From XPOS:</br>

<textarea rows="10" cols="45" id="inbox">

</textarea>

<textarea rows="10" cols="45" id="outbox"></textarea>


<button type="button" onclick="sendData()">Try it</button>


<script>
    function sendData() {
        var out = document.getElementById("outbox").value;
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/sendcashbox", true);
        xhr.setRequestHeader("Content-type", "text/plain");
        xhr.send(out);
    }


    function subscribe() {
        var xhr = new XMLHttpRequest();

        xhr.onreadystatechange = function () {
            if (this.readyState != 4) return;

            if (this.status == 200) {
                document.getElementById("inbox").value = this.responseText;
            } else {
                onError(this);
            }

            subscribe();
        }
        xhr.open("GET", "/check", true);
        xhr.send();
    }
</script>
</body>
</html>
